.tabs_header {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 2px;
}

.tabs_header label:nth-of-type(1) {
  margin-left: auto;
}
.tabs_header label:last-of-type {
  margin-right: 100px;
}

.tabs_header label {
  margin-left: 15px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  background-color: #ADD8E6;
  color: #FFF;
}

label {
  padding: 10px 45px;
  border-radius: 5px;
  background-color: #d5d5d5;
  color: #000;
  cursor: pointer;
  transition: 0.4s;
  margin-left: 5px;
}

.tab_content {
  display: none;
  width: 100%;
  box-sizing: border-box;
  margin: 20px 0px;
  padding-top: 20px;
  
  /*grid-row: 2;
  grid-column: 1/-1;
  position: absolute;
  left: 0;
  right: 0;
  top: 40px;
  */
}

header:has(#home:checked) ~ #content_home,
header:has(#about:checked) ~ #content_about,
header:has(#project:checked) ~ #content_project,
header:has(#artBusiness:checked) ~ #content_artBusiness,
header:has(#contact:checked) ~ #content_contact {
  display: block !important;
}

.carousel {
  width: 100%;
  overflow-x: auto;
  margin: 3em auto;
  display: flex;
  gap: 1em;
  scroll-behavior: smooth;
  anchor-name: --carousel;
  scroll-snap-type: x mandatory;
  scroll-marker-group: after;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel::scroll-button(right), .carousel::scroll-button(left) {
  content: '>';
  border: none;
  background-color: #000;
  font-family: Consolas;
  font-size: 3em;
  color: white;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  padding-bottom: 0.1em;
  cursor: pointer;
  position: fixed;
  position-anchor: --carousel;
  position-area: right center;
  translate: -50%;
}

.carousel::scroll-button(left) {
  content: '<';
  position-area: left center;
  translate: 50%;
}

.carousel::scroll-button(right):disabled, .carousel::scroll-button(left):disabled {
  opacity: 0.5;
  cursor: auto;
}

.carousel::scroll-marker-group {
  display: flex;
  justify-content: center;
  gap: 0.5em;
}

.card {
  flex: 0 0 20em;
  aspect-ratio: 5/3;
  background-color: #072A6C;
  color: white;
  padding: 1em;
  border-radius: 0.5em;
  text-align: center;
  align-content: center;
  scroll-snap-align: start;
}

.card::scroll-marker {
  content: '';
  height: 1em;
  width: 1em;
  background-color: #072A6C;
  border-radius: 50%;
}

.card::scroll-marker:target-current {
  background-color: #d5d5d5;
}

@media(max-width: 500px) {
  .card {
    flex: 0 0 100%;
  }
}
