section {
  max-width: 100%;
  width: 100%;
  min-height: 100vh;
}

input[type="radio"] {
  display: none;
}

label {
  padding: 10px 45px;
  border-radius: 5px;
  background-color: #d5d5d5;
  color: #000;
  cursor: pointer;
}

.carousel {
  margin: 3em auto;
  display: flex;
  gap: 1em;
}

.card {
  flex: 0 0 20em;
  height: 12em;
  background-color: #072A6C;
  padding: 1em;
  border-radius: 0.5em;
  text-align: center;
  align-content: center;
}

.tab_content {
  display: none;
  margin: 20px 0px;
}

#home:checked~#content_home,
#about:checked~#content_about,
#project:checked~#content_project,
#artBusiness:checked~#content_artBusiness,
#contact:checked~#content_contact {
  display: block;
}
