section {
  max-width: 100%;
  width: 100%;
  min-height: 100vh;
}

input[type="radio"] {
  display: none;
}

label {
  padding: 10px 45px;
  border-radius: 5px;
  background-color: #d5d5d5;
  color: #000;
  cursor: pointer;
}

.tab_content {
  display: none;
  margin: 20px 0px;
}

#home:checked~#content_home,
#about:checked~#content_about,
#project:checked~#content_project,
#artBusiness:checked~#content_artBusiness,
#contact:checked~#content_contact {
  display: block;
}

.carousel {
  width: 100%;
  overflow-x: auto;
  margin: 3em auto;
  display: flex;
  gap: 1em;
  scroll-behavior: smooth;
  anchor-name: --carousel;
  scroll-snap-type: x mandatory;
  scroll-marker-group: after;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel::scroll-button(right), .carousel::scroll-button(left) {
  content: '>';
  border: none;
  background-color: #000;
  font-family: Consolas;
  font-size: 3em;
  color: white;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  padding-bottom: 0.1em;
  cursor: pointer;
  position: fixed;
  position-anchor: --carousel;
  position-area: right center;
  translate: -50%;
}

.carousel::scroll-button(left) {
  content: '<';
  position-area: left center;
  translate: 50%;
}

.carousel::scroll-button(right):disabled, .carousel::scroll-button(left):disabled {
  opacity: 0.5;
  cursor: auto;
}

.carousel::scroll-marker-group {
  display: flex;
  justify-content: center;
  gap: 0.5em;
}

.card {
  flex: 0 0 20em;
  aspect-ratio: 5/3;
  background-color: #072A6C;
  color: white;
  padding: 1em;
  border-radius: 0.5em;
  text-align: center;
  align-content: center;
  scroll-snap-align: start;
}

.card::scroll-marker {
  content: '';
  height: 1em;
  width: 1em;
  background-color: #072A6C;
  border-radius: 50%;
}

.card::scroll-marker:target-current {
  background-color: #d5d5d5;
}

@media(max-width: 500px) {
  .card {
    flex: 0 0 100%;
  }
}
